* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    background-color: #292929;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.child {
    border-radius: 5px;
    height: 100px;
    width: 150px;
    border-color: white;
    margin-right: 16px;
}

.child:hover {
    background-color: #595750;
}

h1 {
    font-size: 50px;
}

.child-p {
    margin-right: 16px;
}