<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Doctor Login</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    {% block heading %}
    <p>Doctor Login</p>
    <form action='/login/doctor' method="POST">
    {% endblock %}

        <div class="container">
            <label for="userid">Enter your ID</label>
            <input type="text" name="userid" placeholder="User ID" maxlength="10" required/>
            <br>
            <label for="password">Enter Password</label>
            <input type="password" name="password" placeholder="Password" maxlength="50" required/>
        </div>
        {% if message["error"] %}
        <div class="error-text">
            <p style="border-radius: 15px; background-color: rgba(255, 0, 0, 0.637); width: max-content; padding: 10px 10px 10px 10px;">{{ message["error"] }}</p>
        </div>
        {% endif %}
        <button type="submit">Log In</button>
    </form>
    <a href="{{ url_for('index') }}"><button>Go to home page</button></a>
</body>
</html>