<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate Blood</title>
    <link rel="stylesheet" href="static/form.css">
</head>
<body>
    <p>Please enter the following details</p>
    <form action='/donate_otp' method="POST">
        <div class="container">
            <input name="first_name" placeholder="First Name" required/>
            <input name="last_name" placeholder="Last Name" required/>
            <label for="sex">sex</label>
            <select name="sex" id="sex" required>
                <option value="male" selected>male</option>
                <option value="female">female</option>
                <option value="other">other</option>
              </select>
        </div>
        <div class="container">
            <label for="locality">Choose your Locality</label>
            <select name="local" id="local" required>
                <option selected disabled>Select a Locality</option>
                {% for local in message['local']%}
                <option value="{{local}}">{{local}}</option>
                {% endfor %}
            </select>
            <label for="city">Choose your City</label>
            <select name="city" id="city" required>
                <option selected disabled>Select a City</option>
                {% for city in message['city']%}
                <option value="{{city}}">{{city}}</option>
                {% endfor %}
            </select><br>
            <label for="pin">Choose the PinCode</label>
            <select name="pin" id="pin" required>
                <option selected disabled>Select a PinCode</option>
                {% for pin in message['pin']%}
                <option value="{{pin}}">{{pin}}</option>
                {% endfor %}
              </select>

        </div>
        </div>
        </div>
        <div class="container">
            <input type="number" name="phone" placeholder="Phone Number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength)" />
            <input type="number" name="aadhar" placeholder="Aadhar Number" maxlength="12" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength)" />
        </div>
        <div class="container">
            <label for="blood_group">select blood group</label>
            <select name="blood_group" id="blood_group" required>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="ab">AB</option>
                <option value="o">O</option>
              </select>
            <select name="blood_polarity" id="blood_polarity" required>
                <option value="plus">+</option>
                <option value="minus">-</option>
            </select>
        </div>
        <div class="container">
            <label for="verification">do you have verification?</label>
            <select name="verification" id="verification" required>
                <option value="yes">yes</option>
                <option value="no" selected>no</option>
              </select>
        </div>
        <div class="container">
            <label for="v_id">Enter Verification Number</label>
            <input name="v_id" placeholder="Verification ID">
        </div>
        <button type="submit">Submit</button>
    </form>
    <a href="{{ url_for('index') }}"><button>Go to home page</button></a>
</body>
</html>